<%= form_for [@project, @ticket], html: {multipart: true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <% @ticket.assets.each_with_index do |a, index| %>
    <%= f.fields_for :assets, a do |asset| %>
      <p>
        <%= asset.label :asset, "File ##{index + 1}" %>
        <%= asset.file_field :asset %>
      </p>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
